/* CSS declarations go here */
html, body, #wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
}

#mainDiv{
    height: 100%;
    width: 100%;
    background-color: black;
}

#topDiv{
    background-color: gray;
    width: 100%;
    height: 10%;
    visibility: hidden;
}

#gameBoard{
    width: 100%;
    height: 90%;
    /*display: inline-block;*/
    display: inline-flex;
}
#category{
    width: 100%;
    align-content: center;
}

#categoryCard{
    margin: auto;
    width: 90%;
    height: 15%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    /*background-color: white;*/
}
#categoryText{
    font-size: 18pt;
    margin: 5px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}
#questionCardColumn{
    width: 100%;
    height: 80%;
}
#questionCard{
    background-color: white;
    margin: auto;
    width: 82%;
    height: 16%;
    margin-top: 8%;
    margin-bottom: 2%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
#questionHeader{
    font-size: 18pt;
    margin: auto;
    margin-top: 22px;
    font-weight: lighter;;
    font-family: 'Roboto', sans-serif;
}
#questionText{
      margin: 20px;
      margin-top: 70px;
      font-size: 36px;
      font-weight: normal;
      font-family: 'Roboto', sans-serif;
}
